mixin codeblock_container(codeblock_index,contents,loggedInGroup,email, i18nextLng)
    div(class="codeblock-outer")
        div(class="codeblock-poster")
            div(class="codeblock-poster-nickname")
                p(class="tooltip-nickName")= t('main.codeblockContainer.poster', {lng: i18nextLng})+": " +contents["user"]["nickName"]
                div(class="user-card-tooltip")
                    include user_card.pug
                    +user_card(contents["user"],loggedInGroup,i18nextLng)
            div(class="codeblock-poster-avatar")
        div(class="codeblock-id")
            p= t('main.codeblockContainer.no', {lng: i18nextLng})+": "+codeblock_index+", "+t('main.codeblockContainer.id', {lng: i18nextLng})+": " +contents["_id"]
        div(class="codeblock-time")
            div(class="codeblock-created-time")
                p= contents["created_at"].toLocaleString()
            div(class="codeblock-updated-time")
                p= contents["updated_at"].toLocaleString()
        div(class="codeblock-code")
            div(class="codeblock-title")
                p= t('main.codeblockContainer.title', {lng: i18nextLng})+": "+contents["title"]
            div(class="codeblock-text")
                pre()
                    if(contents["highlightjs"].length > 0)
                        code(class="language-"+contents["highlightjs"])= contents["content"]
                    else
                        code()= contents["content"]
                div(class="codeblock-delete-codeblock")
                    if((loggedInGroup>0 && email === contents["user"]["email"]) || loggedInGroup==3)
                        include delete_codesnippet.pug
                        +delete_codesnippet("delete_form_"+contents["_id"],"/codeblock/delete","POST","codesnippet_id",contents["_id"],t('main.codeblockContainer.delete_codeblock',{lng: i18nextLng}),i18nextLng)
                div(class="codeblock-edit-codeblock")
                    if((loggedInGroup>0 && email === contents["user"]["email"]) || loggedInGroup==3)
                        include edit_form.pug
                        +edit_form("edit_form_"+contents["_id"],"/user/codesnippet","POST","title",contents["title"],"content",contents["content"],"codesnippet_id",contents["_id"],t('edit_form.save',{lng: i18nextLng}))
                div(class="codeblock-votes")
                    p= t('main.codeblockContainer.votes', {lng: i18nextLng})+": "+t('main.codeblockContainer.up', {lng: i18nextLng})+ " (" +contents["upvotes"]+ ") "+t('main.codeblockContainer.down', {lng: i18nextLng})+" (" +contents["downvotes"]+ ")"
                    if(loggedInGroup>0 && email !== contents["user"]["email"])
                        div
                            p= t('main.codeblockContainer.vote', {lng: i18nextLng})+":"
                        div
                            include vote_form.pug
                            +vote_form("vote_form_"+contents["_id"],"/codesnippet/vote",contents["_id"],"codesnippet_id",i18nextLng)
        div(class="codeblock-feedback")
            div(class="codeblock-comments")
                if(loggedInGroup>0)
                    button(class="expand-comment-box" toggled="false")= t('main.codeblockContainer.add_comment', {lng: i18nextLng})
                    div(class="comment-box" style="display: none;")
                        include edit_form.pug
                        +edit_form("add_form_"+contents["_id"],"/user/codeblock/add_comment","POST","title","","content","","codesnippet_id",contents["_id"],t('edit_form.send',{lng: i18nextLng}))
                if(contents["comments"])
                    table
                        each comment, index in contents["comments"]
                            tr
                                td
                                    div(class="codeblock-comments-comment")
                                        div(class="codeblock-comments-comment-id")
                                            p= t('main.codeblockContainer.no', {lng: i18nextLng})+": "+index+", "+t('main.codeblockContainer.id', {lng: i18nextLng})+": "+comment["_id"]
                                        div(class="codeblock-comments-comment-time")
                                            div(class="codeblock-comments-comment-created-time")
                                                p= comment["created_at"].toLocaleString() 
                                            div(class="codeblock-comments-comment-updated-time")
                                                p= comment["updated_at"].toLocaleString()
                                        div(class="codeblock-comments-comment-poster")
                                            div
                                                p= comment["user_id"]
                                        div(class="codeblock-comment-comment")
                                            div(class="codeblock-comment-title")
                                                p= t('main.codeblockContainer.title', {lng: i18nextLng})+": "+comment["title"]
                                            div(class="codeblock-comment-text")
                                                p= comment["content"]
                                                div(class="codeblock-comments-delete-comment")
                                                    if((loggedInGroup>0 && email === contents["user"]["email"]) || loggedInGroup==3)
                                                        include delete_comment.pug
                                                        +delete_comment("delete_form_"+comment["_id"],"/comment/delete","POST","comment_id",comment["_id"],t('main.codeblockContainer.delete_comment',{lng: i18nextLng}),i18nextLng)
                                                div(class="codeblock-comments-edit-comment")
                                                    if((loggedInGroup>0 && email === contents["user"]["email"]) || loggedInGroup==3)
                                                        include edit_form.pug
                                                        +edit_form("edit_form_"+comment["_id"],"/user/codesnippet/comment","POST","title",comment["title"],"content",comment["content"],"comment_id",comment["_id"],t('edit_form.save',{lng: i18nextLng}))
                                        div(class="codeblock-comment-feedback")
                                            div(class="comment-votes")
                                                p= t('main.codeblockContainer.votes', {lng: i18nextLng})+": "+t('main.codeblockContainer.up', {lng: i18nextLng})+ " (" +comment["upvotes"]+ ") "+t('main.codeblockContainer.down', {lng: i18nextLng})+" (" +comment["downvotes"]+ ")"
                                                if(loggedInGroup>0 && email !== contents["user"]["email"])
                                                    div
                                                        p= t('main.codeblockContainer.vote', {lng: i18nextLng})+":"
                                                    div
                                                        include vote_form.pug
                                                        +vote_form("vote_form_"+comment["_id"],"/codesnippet/comment/vote",comment["_id"],"comment_id",i18nextLng)