mixin delete_codesnippet(formIdentifier,address,sendMethod,idName,idValue,submitButtonLabel,i18nextLng)
    div
        form(action=address method=sendMethod id=formIdentifier class="delete-codesnippet-form")
            input(type="hidden" value=idValue name=idName)
            div
                input(type="submit" class="delete-codesnippet-form-submit" value=submitButtonLabel form=formIdentifier  onclick="return confirm('"+t('delete_form.verification.code', {lng: i18nextLng})+"')")