extends main_layout
block content
    h1= t('register.title', {lng: i18nextLng})
    div(class="register-express-validator-errors")
      if(expressValidatorErrors)
          - for(var i=0; i < expressValidatorErrors.length; i++) {
              p= "#"+(i+1)+": "+expressValidatorErrors[i]["msg"]
          - }

    form(action="" method="" onsubmit="return false")
        div
            label(for="firstName")= t('register.firstname', {lng: i18nextLng})+":"
            input(type="name", id="firstName", name="firstName")
        div
            label(for="lastName")= t('register.lastname', {lng: i18nextLng})+":"
            input(type="name", id="lastName", name="lastName")
        div
            label(for="email")= t('register.email', {lng: i18nextLng})+":"
            input(type="text", id="email", name="email")
        div
            label(for="password")= t('register.password', {lng: i18nextLng})+":"
            input(type="password", id="password", name="password")
        div
            label(for="nickName")= t('register.nickname', {lng: i18nextLng})+":"
            input(type="name", id="nickName", name="nickName")
        div
            label(for="userAvatar")= t('register.avatar_image', {lng: i18nextLng})+":"
            input(type="file",id="userAvatar" accept=".png, .jpg, .jpeg" name="userAvatar")
        div
            button(type="submit" id="submitRegister")= t('register.submit', {lng: i18nextLng})

block script_head
    script(type="text/javascript" src="/resources/js/register.js")