extends user_layout
block content
    div(id="user-content")
        p= t('user.user_info.title', {lng: i18nextLng})
        table
            tr 
                th
                    p= t('user.user_info.row_no', {lng: i18nextLng})
                th
                    p= t('user.user_info.edit_data', {lng: i18nextLng})
                th
                    p= t('user.user_info.modified', {lng: i18nextLng})
            each user, index in users
                tr(class="user-user-data")
                    td
                        div
                            p= index
                    td
                        div
                            include user_form.pug
                            +user_form("form_edit_"+user["_id"],"",user,"","user_id",user["_id"],t('user.user_form.submit', {lng: i18nextLng}),i18nextLng)
                    td 
                        div
                            p= t('user.user_info.created_at', {lng: i18nextLng})+": "+ user["created_at"].toLocaleString()
                            p= t('user.user_info.updated_at', {lng: i18nextLng})+": "+ user["updated_at"].toLocaleString()
                            p= t('user.user_info.last_login_at', {lng: i18nextLng})+": "+ user["last_login_at"].toLocaleString()

block script_head 
    script(src="/resources/js/user_info.js")